<roadNetwork xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../xml/input.xsd">
    <vars>
        <var id="radiusCR" type="normal" mu="150" sd="11.5" />        
        <var id="angleT" type="normal" mu="1.57" sd="0.12" />
    </vars>
    <segments>
        <junction id="1" type="MA">
            <road id="1" classification="main" >	
                <referenceLine>
                    <geometry id="1" length="50"  Rs="0" Re="-300" type="spiral"/>
                    <geometry id="2" length="100" R="-300" type="arc"/>
                    <geometry id="3" length="90"  Rs="-300" Re="0" type="spiral"/>
                </referenceLine>
                <lanes>
                </lanes>
            </road>
            <road id="2" classification="access" >	
                <referenceLine>
                    <geometry id="1" length="50" type="line"/>
                </referenceLine>
            </road>
            <intersectionPoint refRoad="1" s="100">
                <adRoad id="2" s="0" angle="${angleT}"/>
            </intersectionPoint>
        </junction>
        <junction id="2" type="2M">
            <road id="1" classification="main" >	
                <referenceLine>
                    <geometry id="1" length="200" type="line"/>
                </referenceLine>
            </road>
            <road id="2" classification="access" >	
                <referenceLine>
                    <geometry id="1" length="200"  type="line"/>
                </referenceLine>
            </road>
            <intersectionPoint refRoad="1" s="100">
                <adRoad id="2" s="100" angle="1.57"/>
            </intersectionPoint>
        </junction>
        <connectingRoad id="3">
            <road id="1" classification="access" >	
                <referenceLine>
                    <geometry id="1" length="20" type="line"/>                    
                    <geometry id="2" length="50"  Rs="0" Re="${radiusCR}" type="spiral"/>
                    <geometry id="3" length="50" R="${radiusCR}" type="arc"/>
                    <geometry id="4" length="50"  Rs="${radiusCR}" Re="0" type="spiral"/>
                </referenceLine>
            </road>
        </connectingRoad>        
    </segments>
    <links refId="2" hdgOffset="0.0" xOffset="0" yOffset="0">
        <segmentLink fromSegment="2" toSegment="3" fromRoad="204" toRoad="301" fromPos="end" toPos="start" />
        <segmentLink fromSegment="3" toSegment="1" fromRoad="301" toRoad="103" fromPos="end" toPos="end" />
    </links>
</roadNetwork>
