image: jannik97/ubuntu_xercesc:latest

stages:
  - build
  - unitCases
  

basicBuildCase:
  stage: build
  script: 
    - cmake . 
    - make
  artifacts:
      paths:
        - road-generation_exec
        - libroad-generation.so

junction_ma:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_ma.xml
    - cat test/junction_ma.xml
    - python3 test/cmp.py test/junction_ma.xodr test/gt/junction_ma.xodr
  
junction_ma_2:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_ma_2.xml
    - cat test/junction_ma_2.xml
    - python3 test/cmp.py test/junction_ma_2.xodr test/gt/junction_ma_2.xodr

junction_ma_3:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_ma_3.xml
    - cat test/junction_ma_3.xml
    - python3 test/cmp.py test/junction_ma_3.xodr test/gt/junction_ma_3.xodr
    
junction_ma_4:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_ma_4.xml
    - cat test/junction_ma_4.xml
    - python3 test/cmp.py test/junction_ma_4.xodr test/gt/junction_ma_4.xodr

junction_ma_5:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_ma_5.xml
    - cat test/junction_ma_5.xml
    - python3 test/cmp.py test/junction_ma_5.xodr test/gt/junction_ma_5.xodr

junction_ma_6:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_ma_6.xml
    - cat test/junction_ma_6.xml
    - python3 test/cmp.py test/junction_ma_6.xodr test/gt/junction_ma_6.xodr

junction_4a:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_4a.xml
    - cat test/junction_4a.xml
    - python3 test/cmp.py test/junction_4a.xodr test/gt/junction_4a.xodr

junction_m2a:
  stage: unitCases
  script:
    - ./road-generation_exec test/junction_m2a.xml
    - cat test/junction_m2a.xml
    - python3 test/cmp.py test/junction_m2a.xodr test/gt/junction_m2a.xodr
