build/
libs/xerces-c-3.2.2
Makefile
road-generation
carmaker/
roadRunnerProject/
CMakeFiles/
odrViewer64.1.9.1

.vscode
*.cmake
CMakeCache.txt

*.xodr
*.txt
*.synctex.gz
*.synctex(busy)
*.aux
*.acn
*.bbl
*.blg
*.toc
*.ist
*.out
*.log
*.bcf
*.dvi
*.syg
*.run.xml
*.DS_Store
*main.pdf

*/doxy