build/
libs/xerces-c*
Makefile
road-generation
carmaker/
roadRunnerProject/
CMakeFiles/
doc/doxygenDocumentation

.vscode
*.cmake
CMakeCache.txt

*.xodr
*.txt
*.synctex.gz
*.synctex(busy)
*.aux
*.acn
*.bbl
*.blg
*.toc
*.ist
*.out
*.log
*.bcf
*.dvi
*.syg
*.run.xml
*.DS_Store
*main.pdf